:host {
  font-family: var(--app-font-family);
}

button {
  display: inline-flex;       /* Permite alinear icono y texto */
  align-items: center;        /* Centra verticalmente */
  gap: 0.5rem;                /* Espacio entre icono y texto */
  
  font-size: 1.2rem;
  padding: 10px 18px;
  border-radius: 6px;
  background: #0063A7;
  border: none;
  color: white;
  cursor: pointer;

  box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px rgba(255, 255, 255, 0.95),
       inset 1px 1px 1px rgba(0,0,0,0.25);

  transition: all 0.12s ease-in-out;
}

button:hover {
  box-shadow:
      inset 1px 1px 3px rgba(0, 0, 0, 0.2),
      inset -1px -1px 3px rgba(255, 255, 255, 0.8);
}

button:active {
  box-shadow:
      inset 3px 3px 6px rgba(0, 0, 0, 0.35),
      inset -3px -3px 6px rgba(255, 255, 255, 0.7);
  transform: translateY(1px);
}

/* Nuevo: icono dentro del botón */
button i {
  font-size: 1.2rem;   /* Ajusta tamaño del icono */
  display: inline-block;
}
